autopep8==1.7.0
beautifulsoup4==4.11.1
Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==2.1.1
colorama==0.4.5
html5lib==1.1
idna==3.4
inflate64==0.3.0
mechanize==0.4.8
multivolumefile==0.2.3
psutil==5.9.2
py7zr==0.20.2
pybcj==1.0.1
pycodestyle==2.9.1
pycryptodomex==3.15.0
pyfiglet==0.8.post1
pygeoip==0.3.2
pyPdf==1.13
pyppmd==0.18.3
python-nmap==0.7.1
pyzipper==0.3.6
pyzstd==0.15.3
requests==2.31.0
six==1.16.0
soupsieve==2.3.2.post1
texttable==1.6.4
toml==0.10.2
urllib3==1.26.12
webencodings==0.5.1
